In [1]:
print('h')

h

In [2]:
import pandas as pd 
import numpy as np
import sklearn

In [3]:
students = [
    {"name": "Alice", "gender": "Female", "city": "New York", "passed":False},
    {"name": "Bob", "gender": "Male", "city": "Los Angeles", "passed": False},
    {"name": "Charlie", "gender": "Male", "city": "Chicago", "passed": True},
    {"name": "Diana", "gender": "Female", "city": "Houston", "passed": True},
    {"name": "Ethan", "gender": "Male", "city": "Miami", "passed": False},
    {"name": "Fiona", "gender": "Female", "city": "Seattle", "passed": True},
    {"name": "George", "gender": "Male", "city": "Boston", "passed": True},
    {"name": "Hannah", "gender": "Female", "city": "San Francisco", "passed": False},
    {"name": "Ivan", "gender": "Male", "city": "Denver", "passed": True},
    {"name": "Julia", "gender": "Female", "city": "Dallas", "passed": True}
]

In [4]:
df = pd.DataFrame(students)

In [5]:
df

      name  gender           city  passed
0    Alice  Female       New York   False
1      Bob    Male    Los Angeles   False
2  Charlie    Male        Chicago    True
3    Diana  Female        Houston    True
4    Ethan    Male          Miami   False
5    Fiona  Female        Seattle    True
6   George    Male         Boston    True
7   Hannah  Female  San Francisco   False
8     Ivan    Male         Denver    True
9    Julia  Female         Dallas    True

In [6]:
from sklearn.preprocessing import LabelEncoder 
df_label = df.copy()

le = LabelEncoder()
df_label['gender_encoded'] = le.fit_transform(df_label['gender'])
df_label['passed_encoded'] = le.fit_transform(df_label['passed'])

print('\nLabel Encoded Data')
print(df_label[['name','gender','gender_encoded','passed_encoded']])

Label Encoded Data
      name  gender  gender_encoded  passed_encoded
0    Alice  Female               0               0
1      Bob    Male               1               0
2  Charlie    Male               1               1
3    Diana  Female               0               1
4    Ethan    Male               1               0
5    Fiona  Female               0               1
6   George    Male               1               1
7   Hannah  Female               0               0
8     Ivan    Male               1               1
9    Julia  Female               0               1

In [7]:
stdhrs = {
    'studyhours':[1,2,3,4,5],
    'testscore':[40,50,60,70,80]
}

In [8]:
df1 = pd.DataFrame(stdhrs)
df1

   studyhours  testscore
0           1         40
1           2         50
2           3         60
3           4         70
4           5         80

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

standard_scaler = StandardScaler()
standard_scaled = standard_scaler.fit_transform(df1)

print('Standard scaler output:')
print(pd.DataFrame(standard_scaled, columns=['studyhours','testscore']))

minmax_scaler = MinMaxScaler()
minmax_scaled = minmax_scaler.fit_transform(df1)

print('\nMinMax Scaled output')
print(pd.DataFrame(minmax_scaled, columns=['studyhours','testscore']))

X  = df1[['studyhours']]
y = df1[['testscore']]

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2)
print('training data')
print(X_train)

print('Test data')
print(X_test)

Standard scaler output:
   studyhours  testscore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214

MinMax Scaled output
   studyhours  testscore
0        0.00       0.00
1        0.25       0.25
2        0.50       0.50
3        0.75       0.75
4        1.00       1.00
training data
   studyhours
4           5
2           3
0           1
1           2
Test data
   studyhours
3           4