In [5]:
def evodd(num):
    if num%2==0:
        return 'even'
    else:
        return 'odd'
n = int(input('enter the number:'))
print(evodd(n))

enter the number: 5

odd

In [6]:
def evodd(num):
    if num%2==0:
        return 'even'
    else:
        return 'odd'
n = int(input('enter the number'))
print(evodd(n))

enter the number 6

even

In [7]:
def revstr(st):
    st 
    return st[::-1]

s = input('enter the string')
print(revstr(s))

enter the string hello

olleh

In [12]:
def maxi(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    elif c>a and c>b:
        return c

x = int(input('enter the number :'))
y = int(input('enter the number :'))
z = int(input('enter the number :'))
print(maxi(x,y,z))

enter the number : 6
enter the number : 3
enter the number : 2

6

In [15]:
def sml(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
num = [1,2,3,4,5,6]

print(sml(num))

21

In [16]:
def sml(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

a = [4,5,2,4,6,77,342]
print(sml(a))

440

In [1]:
def s_c(a):
    return a**2,a**2

s = int(input('enter the number :'))
print(s_c)

enter the number : 4

<function s_c at 0x00000257867E9120>

In [2]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [3]:
for i in range(5,0,-1):
    print('*'*i)

*****
****
***
**
*

In [4]:
for i in range(1,6):
    print(''*(5-i)+'*'*(2*i-1))

*
***
*****
*******
*********

for i in range(5,0,-1):

In [5]:
for i in range(5,0,-1):
    print(''*(5-i)+'*'*(2*i-1))

*********
*******
*****
***
*

In [9]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))
for i in range(4,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

In [15]:
for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print('*',end="")
        else:
            print(' ',end='')
    print()

*****
*   *
*   *
*   *
*****

In [16]:
for i in range(5):
    print('*'*5)

*****
*****
*****
*****
*****

In [17]:
for i in range(1,6):
    print(' '.join(str(x) for x in range(1, i+1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
for i in range(5,0,-1):
    print(' '.join(str(x) for x in range(1, i+1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [19]:
num=1
for i in range(1,6):
    for j in range(1, i+1):
        print(num,end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [20]:
num=1
for i in range(5,0,-1):
    for j in range(1, i+1):
        print(num,end=" ")
        num+=1
    print()

1 2 3 4 5
6 7 8 9
10 11 12
13 14
15

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
            print('*', end = " ")
        else: 
            print(' ',end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [5]:
for i in range(1,6):
    for j in range(5 - i):
        print(' ', end=' ')
    for j in range(2*i - 1):
        if j == 0 or j == 2 * i - 2 or i ==5:
            print('*', end=" ")
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [6]:
n = 5 
for i in range(1, n +1):
    for j in range(n-1):
        print(' ', end=" ")
    for j in range(2*i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*', end=" ")
        else:
            print(' ',end=" ")
    print()

for i in range( n -1,0,-1):
    for j in range(n-1):
        print(' ', end=" ")
    for j in range(2*i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*', end=" ")
        else:
            print(' ',end=" ")
    print()

        *
        *   *
        *       *
        *           *
        *               *
        *           *
        *       *
        *   *
        *

In [10]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    for j in range(2*(n-i)):
        print(' ', end=' ')
    for j in range(1, i+1):
        print(j, end=" ")
    print()
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=' ')
    for j in range(2* (n-i)):
        print(' ',end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    for j in range(2*(n-i)):
        print(' ', end=' ')
    for j in range(1, i+1):
        print(j, end=" ")
    print()
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=' ')
    for j in range(2* (n-i)):
        print(' ',end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1
1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

In [13]:
n = 5 
for i in range(1,n + 1):
    for j in range(n-i):
        print(' ',end=' ')

    for j in range(1, 2*i):
        if j == 1 or j == 2 * i or i == n:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2
    3
  4
5 5 5 5 5 5 5 5 5

In [14]:
n = 5 
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(2 * i - 1):
        print('*', end=' ')

    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [15]:
n = 5 
for i in range(n , 0 , -1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(2 * i - 1):
        print('*', end=' ')

    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [16]:
n = 5
for i in range(1, n + 1):
    for j in range(i):
        print('*', end=" ")
    print()

n = 5 
for i in range(1, n + 1):
    for j in range(1,1+i):
        print(j,end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
n = 5 
for i in range(1, n+1):

    for j in range(n-1):
        print(' ', end=' ')

    for j in range(1, i+1):
        print(j, end=' ')

    print()

n = 5 
for i in range(1, n+1):

    for j in range(n-1):
        print(' ', end=' ')

    for j in range(i):
        print('*', end=' ')

    print()

        1
        1 2
        1 2 3
        1 2 3 4
        1 2 3 4 5
        *
        * *
        * * *
        * * * *
        * * * * *