In [1]:
def nit():
    print('7pm is the batch i like the most')

nit()

7pm is the batch i like the most

In [2]:
def nit():
    print('7pm team are one of the smartest group that ever present on the earth')
    print('7pm team never upload the task on linkedin & google classroom')
    print('7pm team you need to showcase talent to the world by creating linkedin portfolio')

nit()

7pm team are one of the smartest group that ever present on the earth
7pm team never upload the task on linkedin & google classroom
7pm team you need to showcase talent to the world by creating linkedin portfolio

In [4]:
def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")

nit()

def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
nit()
def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")


nit()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio

In [5]:
nit()
nit()
nit()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio

In [6]:
def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
nit()

def placement():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard work i will share all previous batch ans apply')
placement()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm batch team need to apply jobs as soon as possible
if you are very hard work i will share all previous batch ans apply

In [7]:
def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")

def placement():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard work i will share all previous batch ans apply')

nit()
placement()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm batch team need to apply jobs as soon as possible
if you are very hard work i will share all previous batch ans apply

In [8]:
def add(x,y):

    c=x+y
    print(c)
add(5,6)

11

In [9]:
def add(x,y):
    c=x+y
    print(c)

def placement():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard work i will share all previous batch ans apply')

add(5,6)

print()

placement()

11

7pm batch team need to apply jobs as soon as possible
if you are very hard work i will share all previous batch ans apply

In [10]:
def add(x,y):
    c=x+y
    return c
result = add(5,4)
print(result)

9

In [11]:
def greet():
    print('hello')
    print('good noon')

greet()

def add(x,y):
    c=x+y
    return c

result = add(5,4)
print(result)

hello
good noon
9

In [12]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
add_sub(4,5)

(9, -1)

In [13]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [15]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d 

result1, result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

In [16]:
def add(a,b):
    c = a+b
    print(c)

add(5,6)

11

In [17]:
def add(a,b,d):
    c = a+b+d
    print(c)

add(5,6,7)

18

In [18]:
def person(name,age):
    print(name)
    print(age)

person('nit', 22)

nit
22

In [19]:
def person(name, age):
    print(name)
    print(age)
person('nit',24,45)

TypeError: person() takes 2 positional arguments but 3 were given

In [20]:
def person(name, age):
    print(name)
    print(age-5)

person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [21]:
def person(name, age):
    print(name)
    print(age-5)

person(age=22, name='nit')

nit
17

In [25]:
def person(name, age, city):
    print(name)
    print(age-5)
    print(city)

person(age=22, name='nit', city='hyd')

nit
17
hyd

In [26]:
def person(name,age):
    print(name)
    print(age)

person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [27]:
def person(name, age=20):
    print(name)
    print(age)

person('nit', 30)

nit
30

In [28]:
def person(name, age=18):
    print(name)
    print(age)

person('nit', 40)

nit
40

Variable lenght argument

In [29]:
def sum(a,b):
    c = a+b
    print(c)
sum(5,6)

11

In [30]:
def sum(a,b):
    c = a+b
    return c
sum(5,6)

11

In [33]:
def sum(a,b):
    c = a+b
    return c
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [32]:
def sum(a,*b):
    c = a+b
    return c
sum(5,6,7,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [34]:
def sum(a,*b):
    print(type(a))
    print(type(b))

sum(5,5,6,7)

<class 'int'>
<class 'tuple'>

In [35]:
def sum(a,*b):
    c = a
    for i in b:
        c = c+i
    print(c)
sum(5,6,7,8)

26

In [36]:
def sum(a,*b):
    c = a
    for i in b:
        c = c+i
    print(c)
sum(5,6,7,8,300,56,3,4,532,56)

977

In [38]:
def sum(a,*b):
     
    for i in b:
        a = a+i
    print(a)
sum(5,6,7,8,300,56,3,4,532,56)

977

kwargs( keyword argument + variable lenght argument)

In [39]:
def sum(a,*b):
    a = 5
     
    for i in b:
        a = a+i
    print(a)
sum(5,6,7,8,300,56,3,4,532,56)

977

In [40]:
def person():
    print(name)
    print(data)

person('Alex', 36, 'John',98786)

TypeError: person() takes 0 positional arguments but 4 were given

In [41]:
def person(name,*data):
    print(name)
    print(data)

person('Alex', 36, 'John',98786)

Alex
(36, 'John', 98786)

In [43]:
def person(name,*data):
    print(name)
    print(data)

person('Alex', age=36, addr='John',mob=98786)

TypeError: person() got an unexpected keyword argument 'age'

In [45]:
def person(name,*data):
    print(name)
    print(data)

person('mark', age=36, home_place='hyd',mob=98786)

TypeError: person() got an unexpected keyword argument 'age'

In [46]:
def person(name,**data):
    print(name)
    print(data)

person('mark', age=36, home_place='hyd',mob=98786)

mark
{'age': 36, 'home_place': 'hyd', 'mob': 98786}

In [47]:
def person(name,**data):
    print(name)
    print(data)

person('mark', age=36, home_place='hyd',mob=98786,degree='phd', bank='icici')

mark
{'age': 36, 'home_place': 'hyd', 'mob': 98786, 'degree': 'phd', 'bank': 'icici'}