### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [2]:
def calculate_inhand_salary(ctc_lakhs):

    ctc = ctc_lakhs * 100000


    hra = 0.10 * ctc
    da = 0.05 * ctc
    pf = 0.03 * ctc

    total_deductions = hra + da + pf
    salary_after_deductions = ctc - total_deductions


    if ctc_lakhs < 5:
        tax_rate = 0
    elif 5 <= ctc_lakhs < 10:
        tax_rate = 0.10
    elif 10 <= ctc_lakhs <= 20:
        tax_rate = 0.20
    else:
        tax_rate = 0.30

    tax = salary_after_deductions * tax_rate
    net_salary = salary_after_deductions - tax


    monthly_inhand = net_salary / 12

    return monthly_inhand



ctc_lakhs = float(input("Enter your annual CTC in Lakhs: "))
monthly_salary = calculate_inhand_salary(ctc_lakhs)
print(f"Your monthly in-hand salary is: ₹{monthly_salary:,.2f}")

Enter your annual CTC in Lakhs: 40
Your monthly in-hand salary is: ₹191,333.33

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [3]:
a = int(input("Enter the first angle: "))
b = int(input("Enter the second angle: "))
c = int(input("Enter the third angle: "))

if a + b + c == 180:
    print("It can form a triangle.")

Enter the first angle: 45
Enter the second angle: 45
Enter the third angle: 90
It can form a triangle.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [4]:
a = int(input("Enter the cost price: "))
b = int(input("Enter the selling price: "))

if a > b:
    print("It's a loss.")
else:
    print("It's a profit.")

Enter the cost price: 45
Enter the selling price: 30
It's a loss.

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [6]:
def cm_to_ft(cm):
    return cm / 30.48   # 1 ft = 30.48 cm

def km_to_miles(km):
    return km * 0.621371  # 1 km = 0.621371 miles

def usd_to_inr(usd, rate=83.0):  # Default rate ~83 INR
    return usd * rate


while True:
    print("\n--- Conversion Menu ---")
    print("1. CM to Feet")
    print("2. KM to Miles")
    print("3. USD to INR")
    print("4. Exit")

    choice = input("Enter your choice (1-4): ")

    if choice == "1":
        cm = float(input("Enter value in cm: "))
        print(f"{cm} cm = {cm_to_ft(cm):.2f} ft")

    elif choice == "2":
        km = float(input("Enter value in km: "))
        print(f"{km} km = {km_to_miles(km):.2f} miles")

    elif choice == "3":
        usd = float(input("Enter value in USD: "))
        rate = float(input("Enter current USD to INR rate (default 83): ") or 83)
        print(f"${usd} = ₹{usd_to_inr(usd, rate):.2f}")

    elif choice == "4":
        print("Exiting... Thank you!")
        break

    else:
        print("Invalid choice! Please select 1-4.")

--- Conversion Menu ---
1. CM to Feet
2. KM to Miles
3. USD to INR
4. Exit
Enter your choice (1-4): 3
Enter value in USD: 65
Enter current USD to INR rate (default 83): 89
$65.0 = ₹5785.00

--- Conversion Menu ---
1. CM to Feet
2. KM to Miles
3. USD to INR
4. Exit
Enter your choice (1-4): 3
Enter value in USD: 86
Enter current USD to INR rate (default 83): 89
$86.0 = ₹7654.00

--- Conversion Menu ---
1. CM to Feet
2. KM to Miles
3. USD to INR
4. Exit
Enter your choice (1-4): 4
Exiting... Thank you!

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [8]:
n = 10
a, b = 0, 1

print("Fibonacci Series up to 10 terms:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci Series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [9]:
# Factorial of a given number

num = 5
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(f"Factorial of {num} is {factorial}")

Factorial of 5 is 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [10]:
num = '76542'
rev = num[::-1]
print(rev)

24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [11]:


N = int(input("Enter a number: "))

i = 1
total = 0

while i <= N:
    if i % 5 == 0:
        i += 1
        continue

    total += i

    if total > 300:
        break

    i += 1

print("Final Result:", total)

Enter a number: 8
Final Result: 31

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Program to find numbers divisible by 7 but not multiple of 5 between 2000 and 3200

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
# Program to find numbers divisible by 7 but not multiple of 5 between 2000 and 3200

result = []

for num in range(2000, 3201):  # 3200 included
    if num % 7 == 0 and num % 5 != 0:
        result.append(str(num))

print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [1]:
# Program to find numbers between 1000 and 3000 where every digit is even

result = []

for num in range(1000, 3001):  # include 3000
    s = str(num)
    if all(int(d) % 2 == 0 for d in s):  # check if every digit is even
        result.append(s)

print(" ".join(result))

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Program to check whether a number is prime or not

num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, int(num**0.5) + 1):  # check divisibility up to sqrt(num)
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here