# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-started-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [2]:

celsius = float(input('enter the celsius value'))
fahrenhiet = (celsius * 9/5) + 32
print(fahrenhiet)

enter the celsius value32
89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [3]:
a = int(input('enter the number:'))
b = int(input('enter the number:'))
a,b = b,a
print(a,b)

enter the number:4
enter the number:5
5 4

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [5]:
a = int(input('enter the number:'))
b = int(input('enter the number:'))
c = int(input('enter the number:'))
d = int(input('enter the number:'))
euclidean_distance = ((a-c)**2 + (b-d)**2)**0.5
print(euclidean_distance)

enter the number:4
enter the number:3
enter the number:2
enter the number:5
2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [6]:
p = int(input('enter the principle:'))
r = int(input('enter the rate of interest:'))
t = int(input('enter the time period:'))
simple_interest = (p*r*t)/100
print(simple_interest)

enter the principle:100
enter the rate of interest:5
enter the time period:3
15.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [7]:

head = int(input('enter the number of heads:'))
legs = int(input('enter the number of legs:'))

dogs = (legs - 2 * head) // 2
chicken = head - dogs

if dogs < 0 or chicken < 0:
   print('No valid solution exists!')

else:
  print('Dogs:', dogs)
  print('Chickens:',chicken)

enter the number of heads:4
enter the number of legs:12
Dogs: 2
Chickens: 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [8]:
square = int(input('enter the number:'))
sum = 0
for i in range(1,square+1):
  sum += i**2
  print(sum)

enter the number:5
1
5
14
30
55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [9]:
a = int(input('enter the number:'))
b = int(input('enter the number:'))
n = int(input('enter the number:'))
d = b - a
nth_term = a + (n - 1) * d
print(nth_term)

enter the number:4
enter the number:6
enter the number:8
18

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [10]:
a = int(input('enter the number:'))
b = int(input('enter the number:'))
c = int(input('enter the number:'))
d = int(input('enter the number:'))
sum = (a*d + b*c) / (b*d)
print(sum)

enter the number:4
enter the number:5
enter the number:4
enter the number:5
1.6

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [11]:
h = int(input('enter the height:'))
l = int(input('enter the length:'))
b = int(input('enter the breadth:'))
r = int(input('enter the radius:'))

tank_vol = h * l * b
glass_vol = 3.14 * (r ** 2) * h

num_glass = tank_vol // glass_vol

print('number of glasses:', int(num_glass))

enter the height:20
enter the length:20
enter the breadth:20
enter the radius:1
number of glasses: 127