In [1]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i, curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

sequence sum

In [2]:
n = int(input('enter n'))

result = 0
fact = 1

for i in range(1, n+1):
  fact = fact * i
  result = result + i/fact

print(result)

enter n5
2.708333333333333

Nested loop

In [3]:
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

pattern

In [4]:
rows = int(input('enter the number of rows'))

for i in range(1,rows+1):
  for j in range(1, i+1):
    print('*', end="")
  print()

enter the number of rows5
*
**
***
****
*****

In [7]:
rows = int(input('enter number rows'))

for i in range(1, rows+1):
  for j in  range(1, i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

    print()

enter number rows4
1121
1232
1
12343
2
1

loop control statement

*   break
* continue
* pass
*   List item

In [8]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [10]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower, upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

enter lower range10
enter upper range30
11
13
17
19
23
29

In [11]:
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [12]:
for i in range(1,10):
  pass

strings are sequence of characters
in python specifically strings are a sequence of unicode chareacters

*   creating strings
* accessing strings
* adding chars to strings
* editing strings
* deleting strings
* operations on strings
* string functions

In [13]:
# string creation
s = 'hello'
s = "hello"

# multiline strings

s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [14]:
"it's raining outside"

"it's raining outside"

Accessing substrings from a string

In [15]:
s = 'hello world'
print(s[41])

IndexError: string index out of range

In [16]:
s = 'hello world'
print(s[-3])

r

In [17]:
s = 'hello world'
print(s[6:0:-2])

wol

In [18]:
print(s[::-1])

dlrow olleh

In [19]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

In [20]:
s = 'hello world'
print(s[6:0:-2])

wol

Editing and deleting in strings

In [1]:
s = 'hello world'

s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [2]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [3]:
s = 'hello world'

del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

Operation on strings
* Arithmetic Operations
* Relational operations
* logical operations
* loops on strings
* membership operations

In [4]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [6]:
print('delhi ' * 5)

delhi delhi delhi delhi delhi

In [7]:
print("*"*50)

**************************************************

In [8]:
'delhi' != 'delhi'

False

In [9]:
'mumbai' > 'pune'

False

In [10]:
'Pune' > 'pune'

False

In [11]:
'hello' and 'world'

'world'

In [12]:
"" and 'world'

''

In [13]:
'hello' or 'world'

'hello'

In [14]:
"" or 'world'

'world'

In [15]:
not 'hello'

False

In [16]:
not ''

True

In [17]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [18]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [19]:
'D' in 'delhi'

False

Common Functions
* len
* max 
* min 
* sorted

In [20]:
len('hello world')

11

In [21]:
max('hello world')

'w'

In [22]:
min('hello world')

' '

In [23]:
sorted('hello world', reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [24]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

capitalize/Title/Upper/Lower/Swapcase

In [25]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [26]:
s.title()

'Hello World'

In [27]:
s.upper()

'HELLO WORLD'

In [28]:
'Hello Wolrd'.lower()

'hello wolrd'

In [29]:
'HelLO WorlED'.swapcase()

'hELlo wORLed'

Count/Find/Index

In [30]:
'my name is abc'.count('i')

1

In [31]:
'my name is abc'.find('x')

-1

In [32]:
'my name is abc'.index('x')

ValueError: substring not found

endswith/startswith

In [1]:
'my name is nitish'.endswith('sho')

False

In [2]:
'my name is nitish'.endswith('ish')

True

format

In [3]:
name ='nitish'
gender = 'male'

'hi my name is {1} and i am a {0}'.format(gender,name)

'hi my name is nitish and i am a male'

isalnum/isalpha/isdigit/isidentifier

In [4]:
'nitish1234%'.isalnum()

False

In [5]:
'nitish'.isalpha()

True

In [6]:
'123abc'.isdigit()

False

split/join

In [7]:
'hi my name is abc'.split()

['hi', 'my', 'name', 'is', 'abc']

In [8]:
" ".join('hi my name is abc'.split())

'hi my name is abc'

replace

In [10]:
'hi my name is abc'.replace('abc','xyz')

'hi my name is xyz'

strip

In [11]:
'abc            '.strip()

'abc'

example programs

In [ ]:
s = input('enter the string')

counter = 0

for i in s:
    counter += 1

print('lenght of string is',counter)

In [ ]:
s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

In [ ]:
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
    if i != term:
        result = result + i

print(result)

In [ ]:
s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
    if s[i] != s[len(s) -i -1]:
        flag = False
        print('not a palindrome')
        break
    if flag:
        print('palindrome')

In [ ]:
s = input('enter the string')
l = []

temp = ""
for i in s:

    if i != " ":
        temp = temp + i
    else:
        l.append(temp)
        temp = ''

l.append(temp)
print(l)

In [ ]:
s = input('enter the string')

l = []

for i in s.split():
    l.append(i[0].upper()+ i[1:].lower())

print(" ".joint(l))

In [ ]:
number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
    result = digits[number % 10] + result
    number = number//10

print(result)
print(type(result))